# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/

# Django stuff
db.sqlite3
*.log
staticfiles/
media/

# Environment variables
*.env

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Migrations (optional — only if you don’t want to commit them)
# */migrations/
